<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942179908785-lei71nj19buapi4pblhrhfrmf6t372hc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942179908785-lei71nj19buapi4pblhrhfrmf6t372hc</string>
	<key>API_KEY</key>
	<string>AIzaSyBk6Q7GpPvCUqDRCmwrVmEzhjOgzwiY8dM</string>
	<key>GCM_SENDER_ID</key>
	<string>942179908785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bizi</string>
	<key>PROJECT_ID</key>
	<string>bizi-6e3b8</string>
	<key>STORAGE_BUCKET</key>
	<string>bizi-6e3b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942179908785:ios:c61385312f8fab97a7f690</string>
</dict>
</plist>